{{#if tweets_queued_length}}
  <p>Tweets queued:</p>
  <ul>
    {{#each tweets_queued}}
      {{! TODO split into partial}}
      <li>
        <form action="/repost/{{id_str}}" method="post"> <button type="submit">post</button> </form>
        <form action="/remove/{{id_str}}" method="post"> <button type="submit" class="delete">delete</button> </form>
        <span class="tweet">
          <span class="date">{{display_date}}</span>
          <span class="user"><a href="http://twitter.com/{{tweet_json.user.screen_name}}">@{{tweet_json.user.screen_name}}</a></span>
          <span class="text">{{tweet_json.text}}</span>
          <span class="processed">{{processed_text}}</span>
        </span>
        <span class="link">[<a href="{{url}}">link</a>]</span>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#unless tweets_queued_length}}
  <p>Not much to talk about.</p>
{{/unless}}
